<h1>Settings</h1>
<%= render 'navbar' %>
<div id="setting-box">
  <%= form_for(@user) do |f| %> 
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "username" %>
    </div>
    <div class="field">
      <%= f.label :Email %>
      <%= f.text_field :email %>
    </div>
    <div class="actions">
      <%= f.submit %> 
    </div>
  <% end %>
</div>



