<div class="session-section">
  <h2>Join Pipper today.</h2>
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div class="error-section">
        <h4>Uh oh, there are <%= pluralize(@user.errors.count, "error") %>.</h4>
        <% @user.errors.full_messages.each do |message| %>
          <%= message %></br>
        <% end %>
      </div>
    <% else %>
      You won't regret it
    <% end %>

    <div class="field">
      <%= f.text_field :username, placeholder: "Username"%> <br>
    </div>
    <div class="field">
      <%= f.text_field :email, placeholder: "Email" %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: "Password" %><br>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>