<!DOCTYPE html>
<html>
  <head>
  </head>
  <%= render "navbar"%>
  <body>
    <p id="notice"><%= notice %></p>
    <div class="col-md-3">  
      <h3><%= @user.nickname %></h3>
      @<%= @user.username %><br><br>
      <%= @user.description %><br>
    </div>

    <!-- Showing all pips -->
    <!-- TODO: Implement pagination for this -->
    <div class="col-md-6">
        <%= render "stats_bar", object: @user%>
    </div>
    
    <div class="col-md-6"> 
      <% @user.pips.each do |pip| %>
        <div class="pip-box">
          <b><%= link_to pip.user.nickname, pip.user %></b> @<%= pip.user.username%><br>
          <%= pip.body %>
          <%= button_to 'Delete Pip', {controller: 'pips', action: 'destroy', pip_id: pip.id}, {method: :delete}%>
            <% if current_user.favorited_pips.include? pip %>
              <%= button_to 'Unfavorite Pip', {controller: 'favorites', action: 'destroy', pip_id: pip.id}, {method: :delete} %>
            <% else %>
              <%= button_to 'Favorite Pip', {controller: 'favorites', action: 'create', pip_id: pip.id}, {method: :post}%>
            <% end %>
        </div>
      <% end %>
    </div>


  </body>
</html>
