<p id="notice"><%= notice %></p>


<p>
  <%= @user.username %>
</p>

<!-- Follow -->
<%= button_to 'Follow User', {controller: 'follows', action: 'create', followee_id: @user.id}, {method: :post} %>


<!-- Pip Submission -->
<% if current_user %>
  <% if current_user.id.to_s == params[:id] %>
    <%= render 'pip_form' %>
  <% end %>
<% end %>


<!-- Showing all pips -->
<!-- TODO: Implement pagination for this -->
<!-- That is, learn AJAX. -->
<% @user.pips.all.each do |pip| %>
  <%= pip.body %>
  <%= button_to 'Delete Pip', {controller: 'pips', action: 'destroy', pip_id: pip.id}, {method: :delete}%>
  <% if current_user.favorited_pips.include? pip %>
    <%= button_to 'Unfavorite Pip', {controller: 'favorites', action: 'destroy', pip_id: pip.id}, {method: :delete} %>
  <% else %>
    <%= button_to 'Favorite Pip', {controller: 'favorites', action: 'create', pip_id: pip.id}, {method: :post}%>
  <% end %>
  <br>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %>
